<!-- <div class="relative w-64 m-4 p-4 rounded-lg shadow-lg">
  <div class="nxt_checkbox flex items-center w-full mt-2" *ngFor="let item of items">
    <div class="my-2 mr-2 bg-white dark:bg-gray-800 rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
        <input type="checkbox" class="nxt_checkbox_field w-full h-full focus:outline-none cursor-pointer" />
    </div>
    <label class="nxt_checkbox_label text-sm leading-none">{{ item }}</label>
  </div>
</div>

<button class="w-10 h-10 m-2 p-1 bg-secondary text-accent shadow-inner rounded-full cursor-pointer hover:bg-primary duration-200" [matMenuTriggerFor]="menu">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="4" y1="10" x2="20" y2="10" /><line x1="10" y1="4" x2="10" y2="20" /></svg>
</button>

<mat-menu #menu="matMenu" class="custom-menu">
  <button mat-menu-item class="!flex items-center">
    <div class="flex flex-row">
      <div class=" h-6 w-6 fill-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" /></svg>
      </div>
      <span class="ml-4">Refresh</span>
    </div>
  </button>
  <button mat-menu-item class="!flex items-center">
    <div class="flex flex-row">
      <div class=" h-6 w-6 fill-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" /></svg>
      </div>
      <span class="ml-4">Reload</span>
    </div>
  </button>
</mat-menu> -->

<ngx-dynamic-table-pdf [data]="daten">
  <!-- <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="sortrow">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">
          <div class="absolute h-6 w-6 -my-3 opacity-0 bg-tertiary text-borderline group-hover:opacity-100 transition-opacity ease-in-out duration-500 cursor-grab">
              <table-icons class="stroke-1 stroke-current" name="grip-vertical"></table-icons>
          </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <div class="p-2">
          <div class="w-5 h-5 bg-light rounded-sm" (click)="checkAll()">
            <input type="checkbox" class="w-full h-full focus:outline-none cursor-pointer" [checked]="isAllChecked()" />
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="p-2">
          <div class="w-5 h-5 bg-light rounded-sm" (click)="check(element)">
            <input type="checkbox" class="w-full h-full focus:outline-none cursor-pointer" [checked]="element['checked']"/>
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Schriftfarbe </th>
      <td mat-cell *matCellDef="let element">
        <input type="color" id="head" name="head" [value]="element.color" />
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['sortrow', 'checkbox', 'name', 'color']; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: ['sortrow', 'checkbox', 'name', 'color'];" class="group"></tr>
  </table> -->
</ngx-dynamic-table-pdf>